 /*********HEADER***************/

 .page-header {
  border: none;
  margin: 0px;
  padding: 1px 0px 10px 25px;
  background-color: #f58025;
}

small {
  color: #fff !important;
  font-weight: 200 !important;
}

h1 small{
  font-size: 50% !important;
}

.header-spacer {
  width: 100%;
  height: 20px;
  background-color: rgba(128,128,128,.3);
}

/***********CONTENT***********/

.content {
  margin: 30px 20px 20px 20px;
}

/***********CONTROLS**********/

.controls {
  margin-bottom: 20px;
}

.input-group-addon {
  background-color: #337ab7;
  color: white;
}

.btn-glyph {
  padding-right: 8px;
}

.float-right {
  width: 100%;
}

input, .table-bordered, .btn {
  border-radius: 2px;
}

/***********TABLE*************/

tr {
  height: 37px;
}

.td-sm {
  width: 10%;
}

.td-md {
  width: 14%;
}

.td-lg {
  width: 20%;
}

a, th {
  color: white;
  border: white;
  background-color: #555;
  font-weight: 200;
}

a:hover {
  cursor: pointer;
  color: white;
}

.sorted {
  font-weight: 300;
  text-decoration: underline;
 
}

/***********MODAL*************/

.contact-form {
  margin-top: 120px;
  width: 60%;
}

.modal-header {
  background-color: #337ab7;
  color: white;
}

.modal-title {
  font-weight: 400;
}

.close-btn {
  background-color: white !important;
  text-align: center;
  font-size: 19px;
  line-height: 19px;
  font-weight: 200;
  color: #f58025;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-family:arial, sans-serif;
  padding-top:0px;
  opacity: 1;
}

.btn-save {
  background-color: #555;
  color: white;
  font-weight: 200;
}